// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #D8D8D8;
$blue-kotch: #18137c;
$light-blue-kotch: #bbc9fe;
$coral-kotch: #ff5f57;
