<div class="container">
  <div class="row py-5 text-center">
    <div class="col">
      <h1 class="mb-5">Paiement validé !</h1>
      <div>
        <%= link_to "RÉSERVER UNE SÉANCE", new_lesson_path, class:'btn btn-medium btn-red btn-kotch' %>
      </div>
    </div>
  </div>
</div>
