<p class="mb-3">Félicitations <%= @user.first_name.capitalize %> !</p>

<p>Ton compte a été validé. Tu fais maintenant partie de la grande communauté Koach & Co !</p>

<p>Rends-toi sur le site sans plus attendre et propose des séances en fonction de tes disponibilités.</p>

<p class="mb-3"><%= link_to 'Crée ta séance', new_lesson_url, class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mb-3">À très vite </p>
