<p class="mb-3"><%= @user.first_name.capitalize %>,</p>

<p>Nous sommes tristes de te voir partir !</p>

<p>Participe à l’amélioration du service Koach & Co en renseignant les raisons de ton départ :</p>

<p class="mb-3"><%= link_to 'Désinscris-toi', new_lesson_url, class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mb-3">À très vite </p>
