<p class="mb-3">Félicitations <%= @user.enterprise_name.capitalize %> !</p>

<p>Votre compte a bien été créé.</p>

<p>Encore un petit effort et vous pourrez pleinement profiter du service Koach & Co !</p>

<p>Rendez-vous sur votre compte sans plus attendre pour choisir l’abonnement s’adaptant au mieux à la pratique de vos salariés.</p>

<p class="mb-3"><%= link_to 'Choisir un abonnement', offers_url, class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mt-5">À très vite</p>
