.our-concept-title {
  color: $white;
  background-color: $coral-kotch;
  font-weight: 600;
}

.our-concept-subtitle {
  color: $white;
  background-color: $blue-kotch;
  font-weight: 600;
  font-size: 1.75rem;
}

.our-concept-subsubtitle {
  color: $blue-kotch;
  font-weight: 600;
}

.our-concept-subtext {
  color: $light-blue-kotch;
  font-weight: 600;
}
