.search-friends {
  form {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 20px;

    *:focus {
      outline: none !important;
    }
  }

  input {
    width: 100%;
    height: 25px;
    border-radius: 20px 0 0 20px;
    background-color: white;
    border: none;
    padding-left: 15px;
    font-size: 10px;
  }

  button {
    height: 25px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: white;
    cursor: pointer;
    padding-right: 15px;

    i {
      color: #999999;
    }
  }
}

.friends-tab {
  .search-new-friends {
    form {
      width: 100%;
      position: relative;
      display: flex;
      border-radius: 20px;
  
      *:focus {
        outline: none !important;
      }
    }
  
    input {
      width: 100%;
      height: 50px;
      border-radius: 15px 0 0 15px;
      background-color: white;
      border: none;
      padding-left: 15px;
      font-size: 16px;
    }
  
    button {
      height: 50px;
      border-radius: 0 15px 15px 0;
      border: none;
      background-color: white;
      cursor: pointer;
      padding-right: 15px;
  
      i {
        color: #999999;
      }
    }
  }
}

.friends-tab-result {
  border-radius: 20px;
  background-color: white;
  overflow: auto;
  max-height: 50vh;

  i {
    cursor: pointer;
  }
}
