.input-relative i {
  position: absolute;
  top: 1em;
  left: 1em;
}

.hidden {
  display: none;
}

.my-lessons-mobile {
  font-size: 0.85rem;
  color: $blue-kotch;
  width: 100%;

  .lessons-public-mobile-title {
    color: $white;
    background-color: $blue-kotch;
    font-weight: 600;
    border-radius: 5px;
  }

  .btn-kotch {
    border-radius: 5px;
    width: 140px;
  }

  .lessons-public-mobile-text {
    line-height: 1;
  }

  .lessons-public-mobile-btn {
    width: 110px;
  }

  .lessons-public-mobile-infos {
    width: 200px;
  }

}
