.card-offer-container {
  display: flex;
  a {
    color: white;
  }
}

@media screen and (max-width: 1024px){
  .card-offer-container {
    flex-direction: column;
    position: relative;

    .card-offer {
      margin: 2em auto;
    }
  }
}
