.profile-box {
  height: 82vh;
}

.profile-box-bg {
  background-image: url(background1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  .profile-box {
    height: auto;
    overflow: scroll;
  }

  .profile-box-bg {
    height: 82vh;
  }
}