.dropdown-lesson {
  .btn-dropdown {
    background-color: $blue-kotch;
    color: white;
    border-radius: 15px;
    width: 14em;
    height: 2.5em;
  }

  .dropdown-menu {
    background-color: $blue-kotch;
    color: white;
    border-radius: 15px;
    width: 14em;
    padding-top: 15px;

    a,
    a:hover {
      color: white;
    }
  }

  *:focus {
    outline: none !important;
  }
}


@media only screen and (min-width: 700px) {
  #dropdown-lesson-lieu {
    .btn-dropdown {
      width: 43em;
    }
  }

  #dropdown-menu-lieu {
    width: 43em;
  }

  #dropdown-lesson-activity {
    width: 15em;
  }
}

// .btn-dropdown-open {
//   border-radius: 15px 15px 0 0 !important;
// }

@media only screen and (max-width: 600px) {
  .dropdown-lesson {
    padding: 1em;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-lesson-mobile {
    .btn-dropdown {
      background-color: $blue-kotch;
      color: white;
      border-radius: 5px;
      width: 7em;
      height: 2.5em;
      font-size: 1.05rem;
    }

    .dropdown-menu {
      background-color: $blue-kotch;
      color: white;
      border-radius: 5px;
      width: 7em;
      padding-top: 15px;

      a, a:hover {
        color: white;
      }
    }

    *:focus {
      outline: none !important;
    }

    #dropdown-lesson-activity {
      width: 15em;
    }
  }

  #dropdown-lesson-lieu {
    .btn-dropdown {
      width: 22em;
    }

    #dropdown-menu-lieu {
      width: 23em;
    }
  }

  .lessons-public-mobile {
    font-size: 0.85rem;
    color: $blue-kotch;

    .lessons-public-mobile-title {
      color: $white;
      background-color: #BBC9FE;
      font-weight: 600;
      border-radius: 5px;
    }

    .btn-kotch {
      border-radius: 5px;
    }

    .lessons-public-mobile-text {
      line-height: 1;
    }

    .lessons-public-mobile-btn {
      width: 110px;
    }

    .lessons-public-mobile-infos {
      width: 250px;

      .participants-btn {
        width: 75%;
        border-radius: 5px;
      }
    }
  }
}
