<style>
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  img {
    width: 200px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
</style>

<p class="mb-3">Félicitations <%= @user.first_name.capitalize %> !</p>

<p>Tu viens d’acheter <%= @pack_order.credit_count %> séance(s) de sport Koach & Co.</p>

<p>A compter d’aujourd’hui, tu as 6 mois pour l’utiliser. Réserve rapidement ta séance idéale !</p>

<p><%= link_to "Réserve ta séance", new_lesson_url %></p>

<p class="mb-3">À très vite </p>

<p class="mb-3">Ton équipe Koach & Co</p>
<%#= image_tag 'logo-pink.png' %>
<!-- link to insta + facebook -->
