<p class="mb-3">Bonjour <%= @user.first_name.capitalize %>,</p>

<p>Nous vous informons que votre paiement sur koachandco n'a pu aboutir.</p>

<p>Nous vous invitons à vérifier les informations concernant votre mode de paiement ou contacter votre établissement bancaire,  puis à renouveller votre achat.</p>

<p class="mb-3">Nous vous remercions pour votre confiance, </p>

<p>Bien à vous,</p>
