<p class="mb-3">Bonjour <%= @user.first_name.capitalize %>,</p>

<p>Vous avez annulé votre abonnement Koach.</p>

<p></p>

<p class="mb-3">Nous vous remercions pour votre confiance.</p>

<p>Bien à vous,</p>
