<style>
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
  p {
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 14px;
    color: #292D6A;
  }
  img {
    width: 40px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
  .d-flex {
    display: flex;
    justify-content: start;
  }
</style>
<p class="mb-3">Bonjour <%= @user.first_name.capitalize %>,</p>

<p>Vous avez annulé votre abonnement Koach.</p>

<p></p>

<p class="mb-3">Nous vous remercions pour votre confiance.</p>

<p>Bien à vous,</p>
<p class="mb-3">L'équipe Koach</p>
<p>Rejoins la communauté :</p>
<div class="d-flex">
  <a href="https://instagram.com/koachandco?utm_medium=copy_link"><%= image_tag 'instagram.png' %></a>
  <a href="https://www.facebook.com/profile.php?id=100060081436490"><%= image_tag 'facebook.png' %></a>
</div>
