<p class="mb-3">Bonjour <%= @user.enterprise_name.capitalize %> !</p>

<p>Vous venez de réserver une séance de <%= @lesson.sport_type %>, <%= @lesson.date.localtime.strftime("le %d/%m/%Y à %k:%M") %> et qui aura lieu à l’adresse suivante : <%= @lesson.location.name %>.</p>

<p>Vous serez notifié lorsqu’un coach aura accepté de prendre en charge la séance réservée.</p>

<p class="mt-5">À très vite</p>
