<div class="banner-home-connected mx-2 mx-md-5 mb-3 mb-md-0" style="background-image: url(<%= asset_path"femme_se_prepare_pour_sa_seance_de_sport.png" %>);">
  <%= link_to "RÉSERVEZ VOTRE SÉANCE", new_lesson_path, class:"btn btn-kotch btn-red btn-big"  %>
</div>
