<div class="banner-home-disconnected mx-2 mx-md-5 mb-3 mb-md-0" style="background-image: url(<%= asset_path"groupe_d_amis_realisant_un_cours_de_sport.jpg" %>);">
  <%= image_tag "logo_small.png", alt: "Un groupe d'amis réalisant un cours de sport", loading: 'lazy' %>
</div>
