<div class="container">
  <div class="row mt-5 text-blue text-condensed">
    <div class="col-8 offset-2 about-container" style="background-image: url(<%= asset_path 'background1.png' %>);">
      <div class="text-center mb-5">
        <%= image_tag "logo.png" %>
      </div>
      <p>La crise sanitaire du Covid 19 a modifié nos habitudes de vie. Nous avons été spectateurs d’un certain nombre de changements notamment dans la pratique du sport en ville : perte du contact humain, manque de motivation, envie d’espace et de nature, besoin de flexibilité en lien avec le télétravail.</p>
      <p>C’est pourquoi nous avons fondé Koach & Co : pour que le sport soit accessible au plus grand nombre et praticable à la demande quelles que soient vos contraintes professionnelles et personnelles, vos envies, ou votre motivation.</p>
      <p>Nous souhaitons offrir des moments de plaisir, de bien-être et d’échanges par la pratique d'une activité sportive. Chaque séance est accompagnée par un coach sportif soigneusement sélectionné pour son dévouement, sa capacité d’écoute, sa pédagogie et sa bonne humeur au quotidien !</p>
      <p>Koach & Co, c’est la liberté de pratiquer une séance de sport collective en extérieur, où vous voulez, quand vous voulez et avec qui vous le voulez !</p>
      </p>
      <div class="text-right">
        <h5 class="text-bold">Noémie et Corentin</h5>
        <p> <em>(Co-fondateurs)</em> </p>
      </div>
    </div>
  </div>
</div>
