<% canonical(cgv_url) %>

<div class="container">
  <div class="row mt-5 text-blue text-condensed">
    <div class="col">
      <h1 class='text-blue text-condensed text-center'>
        CONDITIONS GÉNÉRALES
        <% if current_user&.enterprise? || @enterprise_signup.present? %>
          D'UTILISATION
        <% else %>
          DE VENTE
        <% end %>
      </h1>

<br>

Date de dernière mise à jour : 04/09/2021
<br>
<br>
<b>Article 1 – MENTION LEGALES</b>
<br>
Le présent site, accessible à l’URL www.koachandco.com (le « Site »), est édité par :
KOACH & CO, société au capital de 15 000 euros, inscrite au R.C.S. de Nanterre sous le numéro 900 603 606, dont le siège social est situé au 26 rue Montrosier 92220 Neuilly sur Seine, représentée par Noémie VANHOVE et Corentin GRANDIN dument habilités,
<br>
(Ci-après désigné l’« Exploitant »).
<br>
Le numéro individuel TVA de l’Exploitant est : FR87900603606.
<br>
Le Site est hébergé par la société OVH, située 2 rue Kellermann 59100 Roubaix, (téléphone : 09 55 00 66 33).
<br>
Les Directeurs de la publication du Site sont Noémie VANHOVE et Corentin GRANDIN.
<br>
L’Exploitant peut être joint au numéro de téléphone suivant 01 71 05 23 92 et à l’adresse email suivante : contact@koachandco.com.
<br>
<br>
<b>Article 2 – DISPOSITIONS GÉNÉRALES RELATIVES AUX PRESENTES CONDITIONS GENERALES</b>
<br>
Les conditions générales de Vente (les « Conditions Générales de Vente », ou les « CGV ») sont applicables exclusivement à la vente en ligne des Produits et Services proposés par l’Exploitant sur le Site internet.
<br>
Les CGV sont mises à la disposition des clients sur le Site où elles sont directement consultables et peuvent également lui être communiquées sur simple demande par tout moyen.
<br>
Les CGV sont opposables au client qui reconnaît, en cochant une case prévue à cet effet, en avoir eu connaissance et les avoir acceptées avant de passer commande. La validation de la commande par sa confirmation vaut adhésion par l'acheteur aux CGV en vigueur au jour de la commande dont la conservation et la reproduction sont assurées par l’Exploitant.
<br>
Les CGV sont également systématiquement envoyées avec toute confirmation de commande transmise au Client par l’Exploitant. Tout Client est par conséquent réputé avoir pris connaissance et accepté sans réserve l'intégralité des dispositions des CGV, qui s'appliqueront à toutes prestations accomplies par l'Exploitant. Les CGV prévaudront sur toutes clauses et conditions contraires pouvant figurer sur les conditions générales d'achat ou tout autre document émanant du Client. Toutes conditions contraires posées par le Client seront donc, à défaut d'acceptation expresse par l'Exploitant, inopposables à ce dernier. L’Exploitant se réserve cependant le droit de déroger à certaines clauses des CGV en fonction des négociations menées avec le Client, par l’établissement de conditions de vente particulières (notamment par la conclusion d’un contrat de prestation de services) qui seront approuvées par le Client.
<br>
<br>
<b> Article 3 – DESCRIPTION DES SERVICES</b>
<br>
Koach & Co est un site de réservation de séances de sport en extérieur, assurées par des professionnels de l’entrainement sportif travaillant en autonomie et sous leur propre responsabilité (ci-après le(s) « Service(s) ») et ouvert à toute personne physique ou morale utilisant le Site (le « Client »).
<br>
Les Services présentés sur le Site font chacun l'objet d'un descriptif mentionnant leurs caractéristiques essentielles. Les photographies illustrant les Services ne constituent pas un document contractuel. Les Services sont conformes aux prescriptions du droit français en vigueur.
<br>
En substance, le Client acquiert à travers l’interface d’achat prévue à cet effet sur le Site :
<br>
soit une ou plusieurs sessions, utilisables pendant une durée de 6 mois, payable par carte bancaire ;
<br>
soit un abonnement sans engagement de durée pour un mois minimum, puis reconduit tacitement pour une durée illimitée par périodes successives d’un mois entier, payable mensuellement par prélèvement bancaire (désignés comme l’ « Abonnement ») ;
<br>
Le Client a la faculté de résilier l’Abonnement par email à contact@koachandco.com, moyennant le respect d’un préavis de 1 mois, le paiement de chaque mois entamé étant intégralement dû, étant précisé que ce délai de préavis court à compter de la réception par KOACH & CO de la demande de résiliation.
<br>
Chaque Session ou Abonnement donne au Client qui en est titulaire la possibilité de réserver une séance de sport d’une durée comprise entre 30 et 60 minutes (la « Session »), parmi les différentes activités sportives proposées sur le Site lors de la commande, dispensées par un coach sportif diplômé (prestataire désigné par les soins de Koach & Co).
<br>
Le contenu des séances et le cahier des charges de leur déroulement défini par la société Koach & Co et les coachs sportifs n’a pas un caractère contractuel auprès du client. Ils peuvent donc être modifiés à tout moment sans ouvrir droit à dédommagement du client.
<br>
Le coach sportif est libre d’annuler ou d’interrompre une séance s’il estime que les conditions de sécurité pour les participants comme les tiers ou de bon déroulement de la séance ne sont pas réunies.
<br>
Les Sessions achetées par le Client sont virtuelles, en ce qu’elles sont créditées lors de leur acquisition au Compte Personnel créé par le Client à cette fin dans l’espace « Mon compte » du Site (le « Compte Personnel ») et ce, indépendamment de tout support matériel.
<br>
Une fois créé, le Compte Personnel est accessible par le Client au moyen des Identifiants et Mot de Passe définis par ses soins lors de sa création.
<br>
Le Site comporte un onglet « réserver une séance » permettant au Client de demander la réservation d’une Séance en renseignant certains critères : un lieu, une date, un horaire, un sport et en invitant ses amis à y participer. En fonction des critères renseignés, un coach sportif sera désigné pour la réalisation de la séance.
<br>
Le Site comporte également un onglet « séances publiques » précisant 14 jours avant, les séances disponibles et ouvertes au public extérieur à la communauté du Client.
<br>
Les séances ne comportant pas un minimum de 5 participants seront automatiquement annulées au maximum 24h avant la date de la réalisation de la Séance.
<br>
La Session (hors Abonnement) a une durée de validité de 6 mois et sa date d’expiration étant explicitement précisée tant lors de la commande que sur la Session lui-même et dans le Compte Personnel du Client – pendant laquelle le Client qui en est titulaire a entière latitude pour réserver la Session de son choix. L’accès à la réservation étant ouvert jusqu’à 14 jours avant la date de la Session.
<br>
Le Client reconnait que la non-utilisation par le Client de sa Session avant la date d’expiration de celui-ci n’ouvre droit à aucun remboursement.
<br>
Le Client inscrit à une Session peut se désinscrire à tout moment, par le biais de l’interface prévue à cet effet dans l’espace « Mon compte » du Site, et ce jusqu’à 24 heures avant le début de ladite Session, aucune Session ne lui étant alors décomptée au titre de la Session dont il se serait ainsi désinscrit.
<br>
Passé ce délai et pour tout Client titulaire d’un pack de Sessions ou d’un Abonnement : la désinscription hors délai ou la non-participation à la Session entrainera la déduction d’une Session du solde de Sessions disponibles apparaissant sur son Compte Personnel,
<br>
Tout justificatif de retard dans la réalisation d’une désinscription ou concernant une absence de présentation à la Session par le Client, transmis par le Client à KOACH & CO dans les 7 jours de la désinscription hors délai ou de la date de la Session en cas d’absence de présentation à ladite Session par le Client, sera étudiée par KOACH & CO qui pourra alors renoncer à l’application de la déduction visées ci-dessus.
<br>
Le Client demeure responsable des modalités et des conséquences de son accès au Site notamment par l’Internet. Cet accès peut impliquer le paiement de frais à des prestataires techniques tels que notamment des fournisseurs d’accès à l’Internet, lesquels demeurent à sa charge. En outre, le Client devra fournir et être entièrement responsable des équipements nécessaires afin de se connecter au Site.
<br>
Le Client reconnait avoir vérifié que la configuration informatique qu’il utilise est sécurisée et en état de fonctionnement.
<br>
<br>
<b>Article 4 – CREATION DE L’ESPACE CLIENT</b>
<br>
Pour passer une commande sur le Site, le Client doit au préalable créer son espace client personnel. Une fois créé, pour y accéder, le Client doit s’identifier en utilisant son identifiant et son mot de passe secret, personnel et confidentiel. Il appartient au Client de ne pas communiquer son identifiant et son mot de passe conformément aux dispositions de l’article DONNEES PERSONNELLES des présentes. Chaque Client s'engage à conserver une stricte confidentialité sur les données, en particulier identifiant et mot de passe, lui permettant d'accéder à son espace client, le Client reconnaissant être le seul responsable de l'accès au Service par le biais de son identifiant et de son mot de passe, sauf fraude avérée. Chaque Client s'engage en outre à informer sans délai l’Exploitant dans l'hypothèse d'une perte, d'un détournement ou de l'utilisation frauduleuse de son identifiant et/ou mot de passe.
<br>
Après la création de son espace client personnel, le Client recevra un email lui confirmant la création de son espace client.
<br>
Le Client s'engage lors de son inscription à :
<br>
Délivrer des informations réelles, exactes, à jour au moment de leur saisie dans le formulaire d'inscription du service, et notamment à ne pas utiliser de faux noms ou adresses, ou encore des noms ou adresses sans y être autorisé.
Maintenir à jour les données d'inscriptions en vue de garantir en permanence leur caractère réel, exact et à jour.
<br>
Le Client s'engage en outre à ne pas rendre disponible ou distribuer des informations illicites ou répréhensibles (telles que des informations diffamatoires ou constitutive d'usurpation d'identité) ou encore nuisibles (telles que les virus). Dans le cas contraire, l’Exploitant sera en mesure de suspendre ou de résilier l'accès du Client au Site à ses torts exclusifs.
<br>
<br>
<b>Article 5 – COMMANDES</b>
<br>
Au moment de passer une commande, le Client doit sélectionner les Services choisis, les ajouter à son panier en indiquant les Services sélectionnés. Le Client a la possibilité de vérifier le détail de sa commande et son prix total, et de revenir aux pages précédentes pour éventuellement corriger le contenu de son panier, avant de le valider.
<br>
Le Client s’engage à lire les Conditions Générales alors en vigueur avant de les accepter et de confirmer les modalités et les éventuels frais de livraison et de rétractation préalable au paiement de sa commande. La confirmation de la commande entraîne acceptation des CGV et forme le contrat.
<br>
L'attention du Client est particulièrement attirée sur le mode d'acceptation de la commande passée sur le Site. Lorsque le Client passe sa commande il doit confirmer celle-ci par la technique du « double-clic », c'est-à-dire qu'après avoir sélectionné des Produits ajoutés au panier, le Client doit contrôler et éventuellement corriger le contenu de son panier (identification, quantité de produits sélectionnées, prix, modalités et frais de livraison) avant de le valider en cliquant sur « Paiement », puis il reconnaît automatiquement les CGV en cochant la case «  Je reconnais avoir lu et accepté les Conditions Générales de Vente » avant de cliquer sur le bouton « Payer », enfin il valide sa commande après avoir rempli ses coordonnées bancaires. Le « double clic » vaut signature électronique et équivaut à une signature manuscrite. Il constitue une acceptation irrévocable et sans réserve de la commande par le Client.
<br>
L'archivage des communications, des bons de commande et des factures est assuré par l’Exploitant sur un support fiable et durable de manière à constituer une copie fidèle et durable. Ces communications, bons de commande et factures peuvent être produits à titre de preuve du contrat. Sauf preuve contraire, les données enregistrées par l’Exploitant sur Internet ou par téléphone constituent la preuve de l'ensemble des transactions passées entre l’Exploitant et ses Clients.
<br>
Une copie des présentes Conditions Générales telles qu’acceptées par le Client sera envoyée au Client par e-mail au moment de la confirmation de sa Commande afin que ce dernier puisse s’y reporter.
<br>
Les informations contractuelles relatives à la commande (dont notamment le n° de la commande) feront l'objet d'une confirmation par voie d'email en temps utile et au plus tard au moment de la livraison. L’Exploitant conseille vivement au Client d'imprimer et/ou d'archiver sur un support fiable et durable cette confirmation de commande à titre de preuve. Une facture numérique est mise à la disposition du Client dans l'espace « mon compte ». L’Exploitant conseille également au Client d'imprimer et/ou d'archiver sur un support fiable et durable cette facture à titre de preuve.
<br>
Tout email qui sera adressé au Client dans le cadre d’une commande le sera à l’adresse email que le Client utilise pour s’identifier dans son espace client.
<br>
L’Exploitant se réserve le droit de ne pas valider la commande du Client pour tout motif légitime, notamment dans l’hypothèse où :
<br>
Le Client ne respecterait pas les Conditions Générales en vigueur lors de sa commande ;
L’historique de commandes du Client montre que des sommes restent dues au titre de précédentes commandes ;
L’une des précédentes commandes du Client fait l’objet d’un litige en cours de traitement ;
Le Client n’a pas répondu à une demande de confirmation de sa commande que l’Exploitant lui a fait parvenir.
<br>
L’Exploitant archive les contrats de vente de services conformément à la législation applicable. En formulant une demande à l’adresse suivante contact@koachandco.com, l’Exploitant remettra au Client une copie du contrat objet de la demande.
<br>
Toute modification de commande par le Client après confirmation de sa commande est soumise à l'accord de l’Exploitant.
<br>
Les informations communiquées par le Client lors de la passation de la commande engagent celui-ci. Ainsi, la responsabilité de l’Exploitant ne saurait en aucune manière être recherchée dans l'éventualité où une erreur lors de la passation de la commande empêcherait ou retarderait la livraison/la délivrance.
<br>
Le Client déclare avoir la pleine capacité juridique lui permettant de s'engager au titre des présentes Conditions Générales.
<br>
L'inscription est ouverte aux majeurs capables et aux mineurs à conditions que ceux-ci interviennent sous la surveillance du parent ou tuteur détenant l'autorité parentale. En aucun cas, l'inscription n'est autorisée pour le compte de tiers à moins d'être valablement habilité à la représenter (personne morale par exemple). L'inscription est strictement personnelle à chaque Client.
<br>
En cas de manquement par le Client à l'une des dispositions des présentes, l’Exploitant se réserve le droit de résilier sans préavis le compte dudit Client.
<br>
<br>
<b>Article 6 – MODALITÉS DE PAIEMENT ET SÉCURISATION</b>
<br>
Le Client reconnait expressément que toute commande effectuée sur le Site est une commande avec obligation de paiement, qui nécessite le paiement d’un prix contre la fourniture du Service commandé.
<br>
Le Client est informé que la mise à disposition du Service ne pourra être effectuée avant le parfait encaissement par l’Exploitant des sommes dues par le Client.
<br>
L’Exploitant utilise la solution de paiement en ligne STRIPE.
<br>
Les commandes peuvent être payées en ayant recours à l’un des modes de paiement suivants :
<br>
Paiement par carte bancaire. Le paiement s'effectue directement sur les serveurs bancaires sécurisés de la banque de l’Exploitant, les coordonnées bancaires du Client ne transitent pas sur le Site. Les coordonnées bancaires communiquées lors du paiement sont protégées par un procédé de cryptage SSL (Secure Socket Layer). De cette manière, ces coordonnées ne sont pas accessibles à des tiers.
<br>
La commande du Client est enregistrée et validée dès acceptation du paiement par la banque.
<br>
Le compte du Client sera débité du montant correspondant uniquement lorsque (i) les données de la carte bancaire utilisée auront été vérifiées et (ii) le débit aura été accepté par la banque ayant émis la carte bancaire.
<br>
L’impossibilité de débiter les sommes dues entraînera la nullité immédiate de la vente.
<br>
La carte bancaire peut notamment être refusée si elle est arrivée à expiration, si elle a atteint le montant maximal de dépense auquel le Client a droit ou si les données saisies sont incorrectes.
<br>
Le cas échéant, la commande validée par le Client ne sera considérée comme effective que lorsque le centre de paiement bancaire sécurisé aura donné son accord sur la transaction.
<br>
Dans le cadre des procédures de contrôle, l’Exploitant pourra avoir à demander au Client toutes les pièces nécessaires à la finalisation de sa commande. Ces pièces ne seront pas utilisées à d’autres fins que celles-ci.
<br>
<br>
<b>Article 7 – PRIX</b>
<br>
Le prix des Services en vigueur lors de la commande est indiqué en euros toutes taxes comprises (TTC) sur le Site.
<br>
En cas de promotion, l’Exploitant s'engage à appliquer le prix promotionnel à toute commande passée durant la période de la publicité faite pour la promotion.
<br>
En cas de partenariat signé avec l’employeur du Client, l’Exploitant s'engage à appliquer le tarif promotionnel négocié spécifiquement avec son employeur à la date de confirmation de la commande. L’Exploitant se laisse le droit d’arrêter l’application du tarif promotionnel négocié dans le cas où le Client ne serait plus salarié de cet employeur et après confirmation par celui-ci.
<br>
KOACH & CO se réserve le droit de modifier le Prix à tout moment, étant rappelé que le Prix applicable au Client est en toute hypothèse celui en vigueur au jour de confirmation de sa commande.
<br>
Une facture reprenant en détail ces éléments est établie par KOACH & CO et communiquée au Client sur son compte personnel dans la rubrique « mon historique d’achats ».
<br>
Le prix est payable en euros (€) exclusivement.
<br>
Le prix est exigible en totalité après confirmation de la commande. Les prix proposés comprennent les rabais et ristournes que l’Exploitant serait amené à octroyer.
<br>
Le montant total dû par le Client et son détail sont indiqués sur la page de confirmation de commande.
<br>
Toute inexécution par le Client de son obligation de paiement donnera lieu à l’application d’une pénalité forfaitaire de 7,5€.
<br>
<br>
<b>Article 8 – DROIT DE RÉTRACTATION</b>
<br>
Le Client bénéficiera d’un délai de rétractation de quatorze (14) jours calendaires à compter de la conclusion du contrat, conformément à l’article L. 221-19 du Code de la consommation, pour exercer son droit de rétractation auprès de KOACH & CO et annuler sa commande, sans avoir à justifier de motifs ni à payer de pénalité, à fin d’échange ou de remboursement, sauf si l’exécution des prestations a commencé, avec l’accord du Client, avant la fin du délai de rétractation.
<br>
Le Client qui a exercé son droit de rétractation pour une prestation dont l'exécution a commencé, à sa demande expresse, avant la fin du délai de rétractation, verse à l’Exploitant un montant correspondant au service fourni jusqu'à la communication de sa décision de se rétracter ; ce montant est proportionné au prix total de la prestation convenu dans le contrat (et sera donc égal au prix total de la prestation si l’intégralité de la prestation a été effectuée).
<br>
Le remboursement des sommes effectivement réglées par le Client sera effectué dans un délai de 14 jours à compter de la réception, par KOACH & CO, de la notification de la rétractation du Client.
<br>
Aucune somme n'est due par le Client ayant exercé son droit de rétractation si sa demande expresse n'a pas été recueillie ou si l’Exploitant n'a pas respecté l'obligation d'information prévue au 4° de l'article L. 221-5 du Code de la consommation.
<br>
Conformément à l’article L.221-21 du Code de la consommation et afin de mettre en œuvre ce droit de rétractation dans les conditions des articles L. 221-18 et suivants du Code de la consommation, le Client est invité à demander le formulaire type de rétractation directement par courrier électronique à contact@koachandco.com en mentionnant le numéro de la commande concernée par cette rétractation ainsi que les informations suivantes :
Nom, adresse géographique, numéro de téléphone et adresse électronique ;
Décision de rétractation au moyen d'une déclaration dénuée d'ambiguïté (par exemple, lettre envoyée par la poste, télécopie ou courrier électronique dès lors que ces coordonnées sont disponibles et de ce fait apparaissent sur le formulaire type de rétractation). Le Client peut utiliser le modèle de formulaire de rétractation mais ce n'est pas obligatoire.
<br>
 L’Exploitant adressera un accusé de réception de la demande de rétractation du Client par email.
<br>
L’Exploitant remboursera au Client les sommes dues dans un délai de quatorze (14) jours à compter de la réception l’ensemble des éléments permettant de mettre en œuvre le remboursement du Client. Ce remboursement pourra être effectué par le même moyen de paiement que celui employé pour le Client. A ce titre, le Client ayant réglé sa commande sous forme d'avoirs / bons cadeau pourront être remboursés par avoirs / bons cadeau selon la volonté de l’Exploitant.
<br>
En acceptant les présentes Conditions Générales, le Client reconnait expressément avoir été informé des modalités de rétractation.
<br>
<br>
<b>Article 9 – SERVICE CLIENTS</b>
<br>
Le Client peut contacter l’Exploitant :
<br>
● au numéro suivant 01 71 05 23 92 au jour et heures d’ouverture suivants : du lundi au vendredi de 9h à 17h.
<br>
● par email en s’adressant à contact@koachandco.com en indiquant son nom, numéro de téléphone, l’objet de sa demande et le numéro de la commande concernée.
<br>
<br>
<b>Article 10 – PROPRIÉTÉ INTELLECTUELLE ET LICENCE D’UTILISATION</b>
<br>
L’Exploitant est seule titulaire des tous les éléments présent sur le Site, notamment et sans limitation, tous textes, fichiers, images animées ou non, photographies, vidéos, logos, dessins, modèles, logiciels, marques, identité visuelle, base de données, structure du Site et tous autres éléments de propriété intellectuelle et autres données ou informations (ci-après, les « Éléments ») qui sont protégés par les lois et règlements français et internationaux relatifs notamment à la propriété intellectuelle.
<br>
En conséquence, aucun des Éléments du Site ne pourra en tout ou partie être modifié, reproduit, copié, dupliqué, vendu, revendu, transmis, publié, communiqué, distribué, diffusé, représenté, stocké, utilisé, loué ou exploité de toute autre manière, à titre gratuit ou onéreux, par un Client ou par un tiers, quel que soient les moyens et/ou les supports utilisés, qu’ils soient connus ou inconnus à ce jour, sans l’autorisation préalable exprès et écrite de l’Exploitant au cas par cas, et le Client est seul responsable de toute utilisation et/ou exploitation non autorisée.
<br>
Par ailleurs, il est précisé que l’Exploitant n’est pas propriétaire du contenu mis en ligne par les Clients, pour lequel ces derniers demeurent intégralement responsables et garantissent la Société contre tout recours à ce titre. Les Clients accordent à la Société une licence non-exclusive transférable, sous-licenciable, à titre gratuit et mondiale pour l’utilisation des contenus de propriété intellectuelle qu’ils publient sur le Site, pour toute la durée de protection de ces contenus.
<br>
L’Exploitant se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté les interdictions contenues dans le présent article.
<br>
<br>
<b>Article 11 – RESPONSABILITÉ ET GARANTIE</b>
<br>
L'Exploitant déclare avoir souscrit une assurance auprès de la compagnie MMA et de numéro de contrat n°147547675, garantissant sa responsabilité professionnelle et contractuelle.
<br>
L’Exploitant ne saurait être tenu pour responsable de l'inexécution du contrat du fait du Client ou en raison d'un événement qualifié de force majeure par les tribunaux compétents ou encore du fait imprévisible et insurmontable de tout tiers aux présentes.
<br>
L’Exploitant ne peut être tenu pour responsable des informations importées, stockées et/ou publiées sur le Site par les Clients. L’Exploitant ne peut être tenu pour responsable au titre de toute information publiée par un Client sur le Site et des dommages directs ou indirects que cette utilisation pourrait causer à un tiers, le Client à l'origine de la publication restant seul responsable à ce titre.
<br>
Le Client reconnaît que les caractéristiques et les contraintes d'Internet ne permettent pas de garantir la sécurité, la disponibilité et l'intégrité des transmissions de données sur Internet. Ainsi, l’Exploitant ne garantit pas que le Site et ses services fonctionneront sans interruption ni erreur de fonctionnement. En particulier, leur exploitation pourra être momentanément interrompue pour cause de maintenance, de mises à jour ou d'améliorations techniques, ou pour en faire évoluer le contenu et/ou leur présentation.
<br>
L’Exploitant ne peut être tenu pour responsable de l'utilisation qui serait faite du Site et de ses services par les Clients en violation des présentes Conditions Générales et des dommages directs ou indirects que cette utilisation pourrait causer à un Client ou à un tiers. En particulier, l’Exploitant ne peut être tenu pour responsable des fausses déclarations faites par un Client et de son comportement vis-à-vis des tiers. Dans le cas où la responsabilité de l’Exploitant serait recherchée à raison d'un tel comportement d’un de ses Clients, ce dernier s'engage à garantir l’Exploitant contre toute condamnation prononcée à son encontre ainsi qu’à rembourser l’Exploitant de l’ensemble des frais, notamment les honoraires d’avocats, engagés pour sa défense.
<br>
Le Client est seul responsable de l'intégralité des contenus qu'il met en ligne sur le Site, dont il déclare expressément disposer de l'intégralité des droits, et garantit à ce titre l’Exploitant qu'il ne met pas en ligne de contenus violant des droits tiers, notamment de propriété intellectuelle, ou constituant une atteinte aux personnes (notamment diffamation, insultes, injures, etc.), au respect de la vie privée, une atteinte à l'ordre public et aux bonnes mœurs (notamment, apologie des crimes contre l'humanité, incitation à la haine raciale, pornographie enfantine, etc.). En cas d'atteinte aux lois en vigueur, aux bonnes mœurs ou aux présentes Conditions Générales, l’Exploitant peut exclure de plein droit les Clients qui se seront rendus coupables de telles infractions et supprimer des informations et renvois à ces contenus litigieux. L’Exploitant est qualifié d’hébergeur s’agissant du contenu mis en ligne par des tiers. A ce titre, il est rappelé que L’Exploitant n’a aucune obligation générale de surveillance du contenu transmis ou stocké via le Site. Dans le cas où la responsabilité de l’Exploitant serait recherchée à raison d'un contenu mis en ligne par le Client, ce dernier s'engage à garantir l’Exploitant contre toute condamnation prononcée à son encontre ainsi qu’à rembourser l’Exploitant de l’ensemble des frais, notamment les honoraires d’avocats, engagés pour sa défense.
<br>
<br>
<b> Article 12 – DONNÉES PERSONNELLES</b>
<br>
Chaque Client est seul responsable de la préservation de la confidentialité de son identifiant et de son mot de passe, et est seul responsable de tous les accès à son Compte Client, qu’ils soient autorisés ou non.
<br>
L’Exploitant ne saurait être tenu pour responsable de toute action ou fait dommageable réalisés via l’espace personnel du Client par un tiers qui aurait eu accès à ses identifiants et mot de passe suite à une faute ou une négligence étant imputable au Client. Le Client s’engage à informer l’Exploitant immédiatement dès lors que le Client a connaissance ou suspecte un usage non autorisé ou un accès non autorisé à son espace personnel.
<br>
Les données personnelles du Client sont collectées par KOACH & CO pour la gestion de son abonnement et, sous réserve de consentement, lui adresser des informations sur les offres et actualités KOACH & CO.
KOACH & CO partage les données du Client pour ces seules finalités avec des tiers procédant au traitement de données personnelles pour le compte de KOACH & CO, par exemple pour les paiements et cartes de crédit, l’hébergement, l’administration et la gestion des données du Client, la distribution d’emails, le recouvrement des créances.
Les données du Client sont conservées aussi longtemps que nécessaire pour réaliser les finalités exposées ci-dessus sauf si une durée de conservation plus longue est requise par la loi applicable. En application de la loi « informatique et libertés » du 6 janvier 1978 modifiée, et du Règlement Européen Général sur la Protection des Données n°2016/679 du 27 avril 2016 (« RGPD »), le Client dispose d’un droit d’accès, de modification, de rectification, de suppression, de portabilité et d’opposition sur les données le concernant, qu’il peut exercer en adressant sa demande accompagnée de la justification de son identité par email à : contact@koachandco.com. KOACH & CO se réserve le droit de refuser toute demande qui serait considérée comme abusive. Pour en savoir plus sur la protection des données personnelles, vous pouvez consulter la rubrique « Données Personnelles » sur le site koachandco.com.
<br>
<br>
<b>Article 13 – LIENS HYPERTEXTES</b>
<br>
Les liens hypertextes disponibles sur le Site peuvent renvoyer vers des sites tiers non édités par l’Exploitant. Ils sont fournis uniquement pour la convenance du Client, afin de faciliter l’utilisation des ressources disponibles sur l’Internet. Si le Client utilise ces liens, il quittera le Site et acceptera alors d’utiliser les sites tiers à ses risques et périls ou le cas échéant conformément aux conditions qui les régissent.
<br>
Le Client reconnait que l’Exploitant ne contrôle ni ne contribue en aucune manière à l’élaboration des conditions d’utilisation et/ou du contenu s’appliquant à ou figurant sur ces sites tiers.
<br>
En conséquence, l’Exploitant ne saurait être tenu responsable de quelque façon que ce soit du fait de ces liens hypertextes.
<br>
En outre, le Client reconnait que l’Exploitant ne saurait cautionner, garantir ou reprendre à son compte tout ou partie des conditions d’utilisation et/ou du contenu de ces sites tiers.
<br>
Le Site peut également contenir des liens hypertextes promotionnels et/ou bandeaux publicitaires renvoyant vers des sites tiers non édités par l’Exploitant.
<br>
L’Exploitant invite le Client à lui signaler tout lien hypertexte présent sur le Site qui permettrait d’accéder à un site tiers proposant du contenu contraire aux lois et/ou aux bonnes mœurs.
<br>
Le Client ne pourra pas utiliser et/ou insérer de lien hypertexte pointant vers le site sans l’accord écrit et préalable de l’Exploitant au cas par cas.
<br>
<br>
<b>Article 14 – RÉFÉRENCES</b>
<br>
Le Client autorise l’Exploitant à mentionner le nom du Client, son logo à titre de référence dans ses supports de communication (plaquette, site internet, proposition commerciale, relation avec la presse, communiqué de presse, dossier de presse, communication interne, etc.).
<br>
<br>
<b>Article 15 –  DISPOSITIONS GÉNÉRALES</b>
<br>
<br>
<b>INTEGRALITÉ DE L’ACCORD DES PARTIES</b>
<br>
Les présentes Conditions Générales constituent un contrat régissant les relations entre le Client et l’Exploitant. Elles constituent l'intégralité des droits et obligations de la Société et de l’Exploitant relatifs à leur objet. Si une ou plusieurs stipulations des présentes Conditions Générales étaient déclarées nulles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée. En outre, le fait pour une des parties aux présentes Conditions Générales de ne pas se prévaloir d'un manquement de l'autre partie à l'une quelconque des dispositions des présentes Conditions Générales ne saurait s'interpréter comme une renonciation de sa part à se prévaloir dans l'avenir d'un tel manquement.
<br>
<br>
<b>MODIFICATIONS DES CONDITIONS</b>
<br>
L’Exploitant se réserve le droit de modifier à tout moment et sans préavis le contenu du Site ou des services qui y sont disponibles, et/ou de cesser de manière temporaire ou définitive d’exploiter tout ou partie du Site.
<br>
En outre, l’Exploitant se réserve le droit de modifier à tout moment et sans préavis la localisation du Site sur l’Internet, ainsi que les présentes Conditions Générales. Le Client est donc tenu par conséquent de se reporter aux présentes Conditions Générales avant toute utilisation du Site. EN CAS DE MODIFICATIONS MATÉRIELLES ET DANS L’HYPOTHESE DE PRESTATIONS DE SERVICES CONTINUES / EN COURS, L’UTILISATEUR SERA INFORMÉ AU MOYEN D'UN EMAIL ET D’UN AVERTISSEMENT SUR LE SITE AVANT LA MISE EN APPLICATION DE LA MODIFICATION.
<br>
Le Client reconnait que l’Exploitant ne saurait être tenu responsable de quelque manière que ce soit envers lui ou tout tiers du fait de ces modifications, suspensions ou cessations.
<br>
L’Exploitant conseille au Client de sauvegarder et/ou imprimer les présentes Conditions Générales pour une conservation sûre et durable, et pouvoir ainsi les invoquer à tout moment pendant l'exécution du contrat si besoin.
<br>
<br>
<b>RÉCLAMATION - MÉDIATION</b>
<br>
En cas de litige, vous devez vous adresser en priorité au service client de l'entreprise aux coordonnées suivantes : Service Client, 26 rue Montrosier, 92200 Neuilly-Sur-Seine.
<br>
En cas d'échec de la demande de réclamation auprès du service client ou en l'absence de réponse de ce service dans un délai de dix (10) jours, le Client peut soumettre le différend relatif au bon de commande ou aux présentes CGV l'opposant à l’Exploitant au médiateur suivant : l’Association Nationale des Médiateurs (ANM) soit par courrier en écrivant au 62 rue Tiquetonne 75002 PARIS soit par e-mail en remplissant le formulaire de saisine en ligne à l’adresse suivante www.anm-conso.com.
Le médiateur tentera, en toute indépendance et impartialité, de rapprocher les parties en vue d'aboutir à une solution amiable. Les parties restent libres d'accepter ou de refuser le recours à la médiation ainsi que, en cas de recours à la médiation, d'accepter ou de refuser la solution proposée par le médiateur.
<br>
<br>
<b>DROIT APPLICABLE</b>
<br>
Ces Conditions Générales sont régies, interprétées et appliquées conformément au droit français.
<br>
<br>
<b>ACCEPTATION DES CONDITIONS GENERALES PAR LE CLIENT</b>
<br>
Le Client reconnait avoir lu attentivement les présentes Conditions Générales.
<br>
En s’inscrivant sur le Site, le Client confirme avoir pris connaissance des Conditions Générales et les accepter, le rendant contractuellement lié par les termes des présentes Conditions Générales.
<br>
Les Conditions Générales applicables au Client sont celles disponibles à la date de la commande dont une copie datée à ce jour peut être remise à sa demande au Client, il est donc précisé que toute modification des Conditions Générales qui serait effectuée par l’Exploitant ne s’appliquera pas à toute commande intervenue antérieurement, sauf accord exprès du Client à l’origine d’une commande donnée.


    </div>
  </div>
</div>
