<% canonical(concept_url) %>
<% content_for :meta_title, "Koach & Co | Notre concept" %>
<% content_for :meta_description, "Vous souhaitez savoir comment utiliser le site de Koach & Co ? Tout est expliqué ici." %>

<h1 class="our-concept-title text-center mt-5 py-2">NOTRE CONCEPT</h1>

<div class="container text-center">
  <h2 class="our-concept-subtitle mt-3 px-5 py-1">Réserver une séance de sport n'a jamais été aussi simple !</h2>

  <h3 class="our-concept-subsubtitle mt-5">Créez votre compte en quelques clics</h3>
  <p class="mt-3 px-3 px-lg-5">Un prénom, un nom, une adresse mail, une photo (si vous le souhaitez) et quelques informations pour mieux appréhender ta pratique et t'offrir une approche personnalisée.</p>
  <p class="my-5">image</p>

  <h3 class="our-concept-subsubtitle mt-5">Choisissez une formule adaptée</h3>
  <p class="mt-3 px-3 px-lg-5">Des offres simples et sans engagement :
    <ul>
      <li>3 formules d’abonnement pour une pratique régulière ou plus ponctuelle,</li>
      <li>Des séances à la carte (séance à l’unité ou pack de 10 séances</li>
    </ul>
  </p>
  <p class="my-5">image</p>

  <h3 class="our-concept-subsubtitle mt-5">Réservez votre séance de sport idéale</h3>
  <p class="mt-3 px-3 px-lg-5">Créez votre séance privée de 5 à 10 personnes :
    <ul>
      <li>Sélectionnez une activité sportive</li>
      <li>Définissez un lieu, une date, une heure</li>
      <li>Invitez vos amis à rejoindre la séance</li>
    </ul>
    Nous nous chargeons de trouver un coach pour animer votre séance !
  </p>
  <p class="our-concept-subtext px-3 px-lg-5">Vous n’êtes pas assez nombreux ? Passez votre séance en mode « public » pour qu’elle puisse être proposée à d’autres sportifs.</p>
  <p class="my-5">image</p>

  <h3 class="our-concept-subsubtitle mt-5">OU rejoignez une séance planifiée</h3>
  <p class="mt-3 px-3 px-lg-5">Retrouvez des séances de sport proposées par les membres de la communauté Koach & Co ou par des coachs dans l’onglet « séances publiques ». Utilisez les filtres pour rechercher et réserver une séance correspondant à tes préférences.</p>
  <p class="my-5">image</p>

  <h3 class="our-concept-subsubtitle mt-5">Optimisez l’organisation de votre séance</h3>
  <p class="mt-3 px-3 px-lg-5">Créez votre séance privée de 5 à 10 personnes :
    <ul>
      <li>Sélectionnez une activité sportive</li>
      <li>Définissez un lieu, une date, une heure</li>
      <li>Invitez vos amis à rejoindre la séance</li>
    </ul>
    Nous nous chargeons de trouver un coach pour animer votre séance !
  </p>
  <p class="our-concept-subtext px-3 px-lg-5">Vous n’êtes pas assez nombreux ? Passez votre séance en mode « public » pour qu’elle puisse être proposée à d’autres sportifs.</p>
  <p class="my-5">image</p>

  <h3 class="our-concept-subsubtitle mt-5">Agrandissez votre communauté Koach & Co</h3>
  <p class="mt-3 px-3 px-lg-5">Grâce à l’onglet « Mes amis », situé dans votre profil, vous pourrez facilement constituer votre liste d’amis pour les inviter à vos prochaines sessions !</p>
  <p class="my-5">image</p>
</div>
