<div class="container">
  <div class="row">
    <div class="col">
      <h1 class='my-5 text-center'>VOS QUESTIONS SUR KOACH</h1>
      <div id="accordion">
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-transparent" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Comment puis-je modifier ma réservation de séance ?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body text-blue">
              Pour modifier ta réservation, il te suffit d’annuler ta réservation et d’en refaire une nouvelle.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Comment puis-je consulter la date de fin de validité de mes sessions ?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body text-blue">
              Il te suffit de consulter l’onglet « historique des achats » dans ton compte personnel. La durée de validité est mentionnée sur chaque achat.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Que se passe-t-il, si j’arrive en retard à une séance ?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Ce n’est pas grave, cela arrive à tout le monde. Le plus important reste de prévenir le coach de ton retard par l’intermédiaire de la messagerie intégrée de ta séance.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Quelle est la durée de validité d’une session ?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Les sessions hors abonnement ont une durée de validité de 6 mois.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Que se passe-t-il si j’ai oublié d’annuler ma session ?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Si tu n’as pas annulé ta session et que tu ne t’es pas présenté, ta session sera perdue et déduite de ton solde de sessions disponibles.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Comment puis-je annuler mon inscription à une session ?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Tu peux à tout moment te désinscrire d’une session par le biais de l’interface prévue à cet effet sur le site internet. Aucune session ne te sera décomptée au titre de la session et ce jusqu’à 24 heures avant le début de la séance. Toutefois, passé ce délai, l’annulation hors délai ou la non-participation à la session entrainera la déduction d’une session de ton solde de sessions disponibles sur ton compte personnel.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Jusqu’à combien de temps avant le début de la séance puis-je m’inscrire à une séance ?
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Tu peux t’inscrire à une séance proposée dans la rubrique « séances ouvertes » jusqu’au dernier moment.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Comment puis-je résilier mon abonnement ?
              </button>
            </h5>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Tout d’abord, nous serons tristes de te voir partir. Si tu souhaites vraiment nous quitter, il suffit d’envoyer un email à l’adresse suivante : contact@koachandco.com ou bien d’envoyer un courrier en recommandé au Service Client 26 rue Montrosier 92200 Neuilly-sur-Seine, en spécifiant l’objet de ta demande (« Résiliation de mon abonnement » par exemple).
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                Quel est le délai de résiliation de mon abonnement ?
              </button>
            </h5>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Tu peux résilier à tout moment ton abonnement moyennant le respect d’un préavis de 1 mois.
              <br>
              Le paiement de chaque mois entamé étant intégralement dû, étant précisé que ce délai de préavis court à compter de la réception par KOACH & CO de ta demande de résiliation.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Que se passe-t-il si une réservation n’a pas atteint un minimum de 5 participants ?
              </button>
            </h5>
          </div>
          <div id="collapseTen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Les séances ne comportant pas un minimum de 5 participants seront automatiquement annulées au maximum 24h avant la date de la réalisation de la séance, et la session te sera recréditée sur ton compte.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Les séances sont-elles nécessairement bloquées à 10 participants ?
              </button>
            </h5>
          </div>
          <div id="collapseEleven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Les séances sont volontairement restreintes à 10 personnes. Ce nombre est idéal pour que ton coach puisse t’apporter un accompagnement de qualité et adapter chaque séance à tes besoins.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                La photo demandée lors de l’inscription est-elle obligatoire ?
              </button>
            </h5>
          </div>
          <div id="collapseTwelve" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Non, mais fortement conseillée ! C’est grâce à celle-ci que les coachs pourront t’identifier et valider ta présence lors des sessions.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                Comment puis-je modifier les coordonnées personnelles ?
              </button>
            </h5>
          </div>
          <div id="collapseThirteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              C’est simple, il te suffit de te connecter sur ton compte personnel et de cliquer sur le lien « modifier mon profil » situé en dessous de ta photo. Une fenêtre s’ouvrira et tu pourras alors modifier tes coordonnées à ta convenance.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                Comment puis-je modifier les informations bancaires ?
              </button>
            </h5>
          </div>
          <div id="collapseFourteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Il existe 2 moyens de paiement sur notre site internet : la carte bancaire et le prélèvement automatique. Tu as la possibilité de modifier ces paramètres dans ton compte personnel, rubrique « Informations bancaires ».
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                Comment paie-je mon abonnement ?
              </button>
            </h5>
          </div>
          <div id="collapseFifteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Tu seras prélevé chaque mois du prix de ton abonnement, en fonction de la date de souscription et de la formule choisie. A cette même date, ton compte sera recrédité du nombre de sessions dues en fonction de la formule choisie. Exemple : je m’inscris le 8 octobre. Le 8 de chaque mois, je serai prélevé du montant de mon abonnement et je serai crédité des sessions dues.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                Comment puis-je proposer mes réservations de séance à la communauté de Koach & Co ?
              </button>
            </h5>
          </div>
          <div id="collapseSixteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              2 scénarios sont possibles :
              <br>
              Le premier : tu souhaites réserver une séance et la proposer directement à la communauté Koach & Co. Pour cela, lors du processus de réservation, il te faudra cocher une case autorisant la publication de ta réservation dans la rubrique « Séances ouvertes » du site. Ainsi, toute personne inscrite à Koach & Co pourra consulter ta séance dans la rubrique « Séances ouvertes » et la rejoindre.
              <br>
              Le deuxième cas : tu peux créer ta séance, la garder privée et inviter tes amis à participer à la séance. Attention : il faut être au moins 5 participants pour que la séance soit validée. Si ce n’est pas le cas, tu peux toujours par la suite ouvrir ta séance comme évoqué ci-dessus et rencontrer d’autres membres de la communauté Koach & Co.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapsSeventeen" aria-expanded="false" aria-controls="collapsSeventeen">
                Comment souscrire à l’abonnement Koach & Co ?
              </button>
            </h5>
          </div>
          <div id="collapsSeventeen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Il suffit de cliquer dans l’onglet « Tarifs » et de sélectionner la formule souhaitée. Ensuite, le site te guidera à travers les différentes étapes à effectuer avant de profiter de tes séances.
              <br>
              Tu peux également commencer par te créer un compte personnel sans sélectionner une offre. Pour cela 2 choix s’offre à toi : suivre le bouton inscription présent sur la page d’accueil du site ou bien cliquer sur la rubrique « Connexion / Inscription ». Une fois inscrit, tu pourras dans un deuxième temps choisir ton abonnement ou acheter des séances à l’unité ou en pack.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                Y a-t-il des cours par niveau ?
              </button>
            </h5>
          </div>
          <div id="collapseEighteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Koach & Co se veut accessible à tous quel que soit ton niveau. Nous proposons des activités sportives aux intensités diverses, et le coach qui animera ta séance sera à même de l'adapter à ton niveau et à tes capacités.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseNineteem" aria-expanded="false" aria-controls="collapseNineteem">
                Quelles sont les durées des séances ?
              </button>
            </h5>
          </div>
          <div id="collapseNineteem" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Le format d’une séance varie en fonction l’activité choisie, ou bien d’une demande particulière des participants à la séance. Les séances peuvent ainsi varier de 30 minutes à 1 heure.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                Combien de temps avant la session dois-je me présenter ?
              </button>
            </h5>
          </div>
          <div id="collapseTwenty" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Nous te conseillons d’arriver 5 à 10 minutes avant le début de la séance afin que le coach puisse échanger avec chacun et que la séance débute dans les temps.
            </div>
          </div>
        </div>
        <div class="card card-kotch mb-1">
          <div class="card-header shadow" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-transparent collapsed" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                J’ai déjà un abonnement, comment puis-je changer d’offre ?
              </button>
            </h5>
          </div>
          <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-blue">
              Tu as la possibilité de changer d’abonnement à tout moment en envoyant un email à contact@koachandco.com et en précisant ta demande « par exemple : je souhaite changer ma formule actuelle par … ». Nous nous efforcerons de revenir vers toi dans les meilleurs délais.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
