<div class="container">
  <div class="row mt-5 text-blue text-condensed">
    <div class="col">
      <h1 class='text-blue text-condensed text-center'>Mentions Légales générales</h1>
Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du Site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
<br>
Edition du site
<br>
Le site koachandco.com est édité par la société KOACH & CO, au capital social de 15 000€ euros, immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le n° 900 603 606 et dont le siège social est situé au 26 rue Montrosier 92200 Neuilly-sur-Seine, (Siret n°90060360600014 et TVA intracommunautaire n° FR87900603606).
<br>
Les Directeurs de la publication du Site sont Noémie VANHOVE et Corentin GRANDIN.
<br>
Hébergement
<br>
Le site koachandco.com est hébergé par la société OVH, dont le siège social est situé 2 rue Kellermann 59100 Roubaix. Le stockage des données personnelles des utilisateurs est exclusivement réalisé sur les centres de données ("data centers") de la société Heroku, dont le siège social est situé 415 Mission Street Suite 300, San Francisco, CA 94105.
<br>
Nous contacter<br>
Par téléphone : 01 71 05 23 92<br>
Par email : contact@koachandco.com<br>
Par courrier : KOACH & CO, 26 rue Montrosier 92200 Neuilly-sur-Seine<br>
Mentions relatives à l'utilisation de cookies
<br>
Utilisation des Cookies :
<br>
KOACH & CO utilise des cookies pour vous proposer une meilleure expérience de navigation internet, mesurer et améliorer ses services, évaluer ses opérations marketing, assurer la sécurité des appareils et des données. Si vous décidez de ne pas utiliser de cookie, vous risquez de ne pas bénéficier de certaines fonctionnalités sur le site. Vous pouvez toutefois, refuser l’utilisation des cookies en réglant le paramétrage des cookies de votre navigateur.
<br>

Mentions relatives à l'utilisation des données personnelles<br>
Protection des données personnelles<br>
Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).<br>
Utilisation des données personnelles<br>
KOACH & CO est susceptible de collecter, traiter et utiliser différentes catégories de données personnelles :<br>
Données d’identification : nom, prénom, email, numéro client, date de naissance, photo, civilité,<br>
Données financières : moyens et historiques de paiement,<br>
Données d'usage : messages, commentaires, avis échangés dans le cadre du service,<br>
Données contractuelles : justificatifs,<br>
Données de contact : adresse postale, email, téléphone,<br>
Données de connexion : adresse IP, journaux de connexion.<br>
Certaines informations demandées dans nos formulaires, visées par un astérisque, sont obligatoires pour la souscription à nos services et nous permettent de remplir nos obligations au titre de votre contrat.<br>
D’autres informations, dont la communication reste facultative, ont pour finalité de mieux vous connaître et d’améliorer la qualité de nos services.<br>
En respect de la réglementation applicable, KOACH & CO collectent et traitent des données personnelles avec pour finalité :<br>
L’exécution de votre contrat :<br>
Gestion des comptes clients,<br>
Gestion des prospects,<br>
Identification et authentification client,<br>
Facturation et encaissement des paiements,<br>
La gestion des litiges et impayés :<br>
Traitement des réclamations,<br>
Recouvrements,<br>
Gestion des contentieux.<br>
La communication clients :<br>
Assistance technique et commerciale,<br>
Enquêtes et statistiques (amélioration du site, de nos produits et services),<br>
Prospection commerciale,<br>
Assistance à la navigation sur le site,<br>
Envoi de newsletters,<br>
Répondre à des obligations légales :<br>
Gestion de la facturation et de la comptabilité,<br>
Gestion des demandes d’exercice de droits,<br>
Échanges avec les autorités publiques (demandes légales),<br>
Opérations juridiques de la société (fusion, acquisition…).<br>
Protection des données :<br>
KOACH & CO ne vend pas vos données personnelles. Elles sont stockées dans ses bases de données et celles de ses prestataires essentiellement situés au sein de l’Union Européenne intervenant dans le cadre des finalités visées ci-dessus.<br>
KOACH & CO protège la sécurité et la confidentialité de vos données personnelles et prend les mesures physiques, techniques et organisationnelles appropriées pour empêcher toute perte, altération ou accès non autorisé de celles-ci.<br>
KOACH & CO s’engage à conserver vos données personnelles pour une durée n’excédant pas celle nécessaire aux finalités pour lesquelles elles sont collectées et traitées, sauf lorsqu’une durée de conservation plus longue est requise par la loi applicable.<br>
Vos droits :<br>
Vous disposez d’un droit d’accès, opposition, rectification, effacement, limitation, portabilité, instructions post mortem, sur les données vous concernant, que vous pouvez exercer en adressant votre demande accompagnée de la justification de votre identité à KOACH & CO, 26 rue Montrosier 92200 Neuilly-sur-Seine, ou par email à contact@koachandco.com.<br>
Si vos échanges avec KOACH & CO ne vous apparaissent pas satisfaisants, vous avez la possibilité d’introduire une réclamation auprès de la CNIL, 3 Place de Fontenoy – TSA 80715 – 75334 Paris Cedex 07.<br>

    </div>
  </div>
</div>
