<div class="container">
  <h1>SÉLECTIONNEZ L’ABONNEMENT QUI VOUS CONVIENT</h1>

  <div class="row">
    <div class="col-4">
      <h3>4 séances / mois</h3>
      <p>sans engagement</p>
      <p>X€ / MOIS</p>
      <p>CHOISIR</p>
    </div>
    
    <div class="col-4">
      <h3>8 séances / mois</h3>
      <p>sans engagement</p>
      <p>X€ / MOIS</p>
      <p>CHOISIR</p>
    </div>

    <div class="col-4">
      <h3>12 séances / mois</h3>
      <p>sans engagement</p>
      <p>X€ / MOIS</p>
      <p>CHOISIR</p>
    </div>
  </div>

  <h1>OU BIEN PROFITEZ DE SÉANCES À L’UNITÉ</h1>

  <div class="row">
    <div class="col-6">
      <h3>Carte 1 séance</h3>
      <p>valable xx jours</p>
      <p>X€ / MOIS</p>
      <p>CHOISIR</p>
    </div>

    <div class="col-6">
      <h3>Carte 10 séance</h3>
      <p>valable xx jours</p>
      <p>X€ / MOIS</p>
      <p>CHOISIR</p>
    </div>
  </div>
</div>