<p class="text-blue text-bold text-condensed mb-0 mt-2 location-name">
  <%= location.name %>
</p>

<button class="btn btn-kotch btn-blue mt-3"
        id="location-<%= location.id %>"
        data-id="<%= location.id %>">
  Sélectionner
</button>

<script>
  button = document.querySelector('#location-<%= location.id %>');
  locationID = button.dataset.id;
  locationCollection = document.querySelector('#location-collection');
</script>
