<div class="d-block d-lg-none">
  <%= render "public_lessons_mobile", lessons: @enterprise_lessons %>
</div>
<div class="d-none d-lg-block">
  <%= render "public_lessons_desktop", lessons: @enterprise_lessons %>
</div>
