<div class="d-block d-lg-none">
  <%= render "employee_enterprise_lessons_mobile", bookings: @enterprise_bookings %>
</div>
<div class="d-none d-lg-block">
  <%= render "employee_enterprise_lessons_desktop", bookings: @enterprise_bookings %>
</div>
