<% canonical(public_lessons_url) %>
<% content_for :meta_title, "Koach & Co | Vos séances de sport à la demande et partagées" %>
<% content_for :meta_description, "Accédez aux séances de sport proposées par les membres de la communauté Koach & Co ou par tes coachs, et réservez les en quelques clics !" %>

<div class="d-block d-lg-none">
  <%= render "public_lessons_mobile" %>
</div>
<div class="d-none d-lg-block">
  <%= render "public_lessons_desktop" %>
</div>
