<div class="container">
  <div class="row">
    <% if @lessons.empty? %>
      <div class="col-12 text-center">
        <h2 class="text-center">Il n'y a pas de séances publiques disponibles actuellement.</h2>
      </div>
    <% end %>
    <div class="col-12">
      <% @lessons.each do |lesson| %>
        <%= render 'lesson_in_public_page', lesson: lesson %>
      <% end %>
    </div>
  </div>
</div>
