.card-red {
  border-radius: 16px;
  background-color: $coral-kotch;
}

.card-blue {
  border-radius: 16px;
  background-color: $light-blue-kotch;
}

@include media-breakpoint-up(md) {
  .card-new-lesson {
    min-height: 300px;
  }
}

.card-kotch {
  border-radius: 16px;
  border: none;
}

.card-message {
  min-width: 200px;
}
