h1 {
  font-weight: 800;
  color: $blue-kotch;
}

h2 {
  font-weight: 600;
  color: $blue-kotch;
  font-size: 40px;
}

h3 {
  font-weight: 400;
  color: $gray;
}

.text-blue {
  color: $blue-kotch;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: 600;
}
