footer {
 // position: absolute;
 background-color: transparent;
 bottom: 0;
 width: 100%;
 height: 5px;
 margin-top: 30px;
 a {
  font-size: 20px;
  font-family: "Barlow Condensed";
  color: $blue-kotch;
  font-weight: 300;
 }
 a:hover {
  color: $blue-kotch;
  font-weight: 400;
 }
}

.footer-social-title {
  color: $blue-kotch;
  font-weight: 900;
  font-style: normal;
  font-size: 1.1rem;
}

.footer-link {
    font-size: 16px;
}

@include media-breakpoint-up(md) {
  footer {
    height: 50px;
  }

  .footer-link {
    font-size: 20px;
  }
}
