.form-control {
  height: 45px;
  border-radius: 8px;
  background-color: white;
}

.form-control::placeholder {
  color: $medium-gray;
  font-family: 'Barlow Condensed', 'sans-serif';
}

.form-control[readonly] {
  background-color: white;
}

.link-password {
  font-size: 20px;
  color: $blue-kotch;
  font-weight: 300;
  font-family: 'Barlow Condensed', 'sans-serif';
  font-size: 16px;
  text-decoration: underline;
}

.radio_buttons.user_gender, .radio_buttons.user_sport_habits, .radio_buttons.user_physical_pain {
  display: flex;
  justify-content: space-between;
}

.collection_radio_buttons {
  color: $blue-kotch;
  font-family: 'Barlow Condensed', 'sans-serif';
}

.upload-photo {
  color: $blue-kotch;
  text-decoration: underline;
  font-family: 'Barlow Condensed', 'sans-serif';
}

.form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: $blue-kotch;
}

label.password {
  color: $blue-kotch;
}
