.form-control {
  height: 65px;
  border-radius: 8px;
}

.form-control::placeholder {
  color: $medium-gray;
  font-family: 'Barlow Condensed', 'sans-serif';
}

.link-password {
  font-size: 20px;
  font-family: "Barlow Condensed";
  color: $blue-kotch;
  font-weight: 300;
  font-family: 'Barlow Condensed', 'sans-serif';
  font-size: 16px;
  text-decoration: underline;
}
