.main-container {
 padding-top: 140px;
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 190px; /* height of your footer */
 background: rgb(187,201,254);
background: linear-gradient(338deg, rgba(187,201,254,0.8225665266106442) 8%, rgba(255,255,255,0) 100%);
}

@include media-breakpoint-up(md) {
  .main-container {
   padding-top: 140px;
   min-height: 100vh; /* will cover the 100% of viewport */
   overflow: hidden;
   display: block;
   position: relative;
   padding-bottom: 130px; /* height of your footer */
  }
}

.main-container-home {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
 background: rgb(187,201,254);
background: linear-gradient(338deg, rgba(187,201,254,0.8225665266106442) 8%, rgba(255,255,255,0) 100%);
}
