.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 140px;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-desktop {
  justify-content: space-between;
  background: transparent;
  height: 140px;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
}

.navbar-lewagon-desktop .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-desktop .navbar-brand img {
  height: 60px;
}

.nav-item {
  font-family: "Barlow Condensed";
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: $blue-kotch;
  &:hover {
    color: $blue-kotch;
    text-decoration: underline;
  }
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  width: 200px;
}

.dropdown-menu-mobile {
  width: 200px;
}

.navbar-icon {
  height: 25px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 10px;
  border: none;
  background-color: $coral-kotch;
}

a.dropdown-item:hover {
  text-decoration:underline;
  background-color: $coral-kotch;
}

.navbar-name {
  font-size: 1.25rem;
}
