th {
  color: $coral-kotch;
  font-weight: 600;
  font-family: 'Barlow Condensed', 'sans-serif';
  font-size: 1.25rem;
}

td {
  color: $blue-kotch;
  font-weight: 600;
  font-size: 0.9rem;
  max-width: 100px;
}
