// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Mixins
@import "config/mixins";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import 'select2/dist/css/select2';

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white !important;
}
