<p class="mb-3">Bonjour <%= @user.first_name.capitalize %>,</p>

<p>Ton entreprise a validé ton accès à son planning de réservation de séances de sport.</p>

<p>Tu peux dès à présent réserver ta place dans ton nouvel onglet « Mon entreprise » !</p>

<p class="mb-3"><%= link_to 'Accéder au planning', employee_enterprise_lessons_url, class:'btn-red', target:'_blank', rel:'noopener noreferrer' %></p>

<p class="mt-5">À très vite</p>
